{% extends 'base/base.html' %}
<meta charset="UTF-8">
{%block title%}Animales{%endblock%} {%block content%}
<div id="page-wrapper">
	<div class="row">
		<div class="box box-primary">
		<div class="box-header with-border">
					<div class="box-title">Eventos</div>
				</div>
			<div class="table-responsive">
				<table class="table" id="tabla">
					<thead>
						<tr align="center">
							<td >ID</td>
							<td>Nombre</td>
							<td>Fecha nacimiento</td>
							<td>Peso inicial(Kg)</td>
							<td>Raza</td>
							<td>Tipo</td>
							<td>Imagen animal</td>
							<td>Acciones</td>
						</tr>
					</thead>
					<tbody>
						{%if object_list%} {%for animal in object_list%}
						<tr align="center">
							<td align="left">{{animal.id}}</td>
							<td>{{animal.nombre}}</td>
							<td>{{animal.fechanacimiento}}</td>
							<td>{{animal.peso_inicial}}</td>
							<td>{{animal.raza.nombre}}</td>
							<td>{{animal.tipo.nombre}}</td>
							<td><img src="{{MEDIA_URL}}{{animal.imagen_animal}}"
								height="60px" width="80px"></td>
							<td>
								<div class="btn-group">
									<a type="button" href="{% url 'eventos:eventolistar' animal.id %}" class="btn btn-success">Eventos</a>
									<button type="button" class="btn btn-success dropdown-toggle"
										data-toggle="dropdown">
										<span class="caret"></span>
									</button>
									<ul class="dropdown-menu" role="menu">
										<li><a href="{% url 'eventos:ecrecimiento' animal.id %}">Crecimiento</a></li>
										<li><a href="{% url 'eventos:eproduccion' animal.id %}">Producción</a></li>
										<li><a href="{% url 'eventos:evarios' animal.id %}">Varios</a></li>
									</ul>
								</div>
							</td>
						</tr>
						{%endfor%} {%else%}
						<h1>No hay registros de animales</h1>
						{%endif%}
					</tbody>
				</table>
			</div>
		</div>
	</div>

	<!-- <script>
function abrir_modal(url)
{
        $('#popup').load(url, function()
        {
                $(this).modal('show');
        });
        return false;
}

function cerrar_modal()
{
        $('#popup').modal('hide');
        return false;
}
</script>  -->
</div>
{% endblock %}
