{% extends 'base/base.html'%}
<meta charset=UTF-8>
{%block extrastatic%}
<link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 
{%endblock%}
{%block title%}Nuevo registro{%endblock%}

{% block content%}
<div id="page-wrapper">
	<div class="row">
		<div class="col-md-9 col-md-offset-1">
			<div class="box box-primary ">
				<div class="box-header with-border">
					<div class="box-title">Registro animales</div>
				</div>
				<form method="post" enctype="multipart/form-data">
					{% csrf_token%}
					<div class="box-body">
						<div class="row">
							<div class="form-group">
								<label class="col-md-2 col-md-offset-1">{{form.nombre.label}}</label>
								<div class="col-md-6">{{form.nombre}}</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<label class="col-md-2 col-md-offset-1">{{form.fechanacimiento.label}}</label>
								<div class="col-md-5">{{form.fechanacimiento}}</div><i class="fa fa-2x fa-calendar"></i>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<label class="col-md-2 col-md-offset-1">{{form.peso_inicial.label}}</label>
								<div class="col-md-5" onchange="validarvalor(this)">{{form.peso_inicial}}</div>
								{%if form.ValidationError%}
								<label>{{form.ValidationError}}</label>
								{%endif%}
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<label class="col-md-2 col-md-offset-1">{{form.raza.label}}</label>
								<div class="col-md-5">{{form.raza}}</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<label class="col-md-2 col-md-offset-1">{{form.tipo.label}}</label>
								<div class="col-md-5">{{form.tipo}}</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<label class="col-md-2 col-md-offset-1">{{form.codigo_RFID.label}}</label>
								<div class="col-md-5">{{form.codigo_RFID}}</div>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<label class="col-md-2 col-md-offset-1">{{form.fechamuerte.label}}</label>
								<div class="col-md-5">{{form.fechamuerte}}</div><i class="fa fa-2x fa-calendar"></i>
							</div>
						</div>
						<div class="row">
							<div class="form-group">
								<label class="col-md-2 col-md-offset-1">{{form.imagen_animal.label}}</label>
								<div class="col-md-6">{{form.imagen_animal}}</div>
							</div>
						</div>
					</div>					
					<div class="box-footer">				
					<button type="submit" class="btn btn-success" onclick="restarFechas('fechanacimiento');">Guardar</button>	
					<a href="javascript:history.go(-1)" class="btn btn-danger">Cancelar</a>				
					</div>
				</form>

			</div>
		</div>
	</div>
</div>

{% endblock %}

{%block js%}
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<script>
$(document).ready(function() {
	//Array para dar formato en español
	  $.datepicker.regional['es'] = 
	  {
	  closeText: 'Cerrar', 
	  prevText: 'Previo', 
	  nextText: 'Próximo',
	  
	  monthNames: ['Enero','Febrero','Marzo','Abril','Mayo','Junio',
	  'Julio','Agosto','Septiembre','Octubre','Noviembre','Diciembre'],
	  monthNamesShort: ['Ene','Feb','Mar','Abr','May','Jun',
	  'Jul','Ago','Sep','Oct','Nov','Dic'],
	  monthStatus: 'Ver otro mes', yearStatus: 'Ver otro año',
	  dayNames: ['Domingo','Lunes','Martes','Miércoles','Jueves','Viernes','Sábado'],
	  dayNamesShort: ['Dom','Lun','Mar','Mie','Jue','Vie','Sáb'],
	  dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sa'],
	  dateFormat: 'mm/dd/yy', firstDay: 0, 
	  initStatus: 'Selecciona la fecha', isRTL: false};
	 $.datepicker.setDefaults($.datepicker.regional['es']);
	
    $('.datepicker').datepicker();   	
    	
});
</script>
<script>
$(function() {
$("#datepicker").datepicker();
$( ".datepicker" ).datepicker( "option", "maxDate", "+0m +0d" );
});
</script>


{%endblock%}