{% extends 'base/base.html' %}

	
{%block content%}
<meta charset="UTF-8">
<div id="page-wrapper">
	<div class="row">
		<div class="box box-primary">    
		<div class="box-header with-border">
					<div class="box-title">Toros</div>
				</div>                   
		<div class="table-responsive">
				<table class="table" id="tabla">
			<thead>
				<tr align="center">
					<td>ID</td>
					<td>Nombre</td>
					<td>Raza</td>
					<td>Pajuelas</td>
					<td>Acciones</td>
				</tr>
			</thead>
			<tbody>
				{%if object_list%}
				{%for toro in object_list%}
				<tr align="center">
					<td align="left">{{toro.id}}</td>
					<td>{{toro.nombre}}</td>
					<td>{{toro.raza.nombre}}</td>
					<td>{{toro.pajuelas}}</td>
					<td>
							<a class="btn btn-primary" href="{%url 'animal:toro_editar' toro.id%}">Editar</a>
							<a class="btn btn-danger" href="{%url 'animal:toro_borrar' toro.id%}">Eliminar</a>
					</td>				
				</tr>
				{%endfor%}
				{%else%}
				<h1>No hay registros de Toros</h1>
				{%endif%}
			</tbody>
		</table>
		</div>
	
	</div>	
</div> 
</div>
          
{% endblock %}
