{% extends 'base/base.html' %}
{%block content%}
<meta charset=UTF-8>
<div id="page-wrapper">
<div class="row">
	<div class="col-md-10 col-sm-8 col-sm-offset-1">
		<div class="box box-primary">
			<div class="box-header with-border">
				<div class="box-title">Notificación Eventos</div>
			</div>
	<table class="table" id="tabla">
		<thead>
			<tr>
				<td>ID</td>
				<td>Descripción</td>	
				<td>Fecha Evento</td>
			
			</tr>
		</thead>
		<tbody>
			{%if notificaciones%}
			{%for obj in notificaciones%}
			<tr>
				<td>{{obj.id}}
				<td>{{obj.descripcion}}</td>	
				<td>{{obj.fecha_evento}}</td>	
				<td>{{obj.cedula}}</td>	
				<td>{{obj.telefono}}</td>	
				<td>{{obj.correo}}</td>	
				<td>
					<a class="btn btn-primary" href="{%url 'configuracion:tec_editar' obj.id%}">Editar</a>
					<a class="btn btn-danger" href="{%url 'configuracion:tec_borrar' obj.id%}">Eliminar</a>
				</td>							
			</tr>
			{%endfor%}			
			{%endif%}
		</tbody>
	</table>
</div>
</div>
</div>
</div>

{%endblock%}